# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Database
*.db
*.sqlite3

# VectorStore
backend/vectorstore/
vectorstore/

# Uploads (PDFs – no personal data in Git)
backend/uploads/
uploads/

# PyCharm
.idea/